<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="patternfull">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{5} - %msg%n</Property>

        <!--        <Property name="patternshort">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>-->
        <!--        <Property name="patternconsole">%d{HH:mm:ss} - %msg%n</Property>-->
    </Properties>

    <Appenders>
        <File name="TxtFile" fileName="D:/myWorkspace/epam/javaWebDevelopment2/finalTask/logs/logs.log"
              bufferedIO="true">
            <PatternLayout pattern="${patternfull}" charset="UTF-8"/>
        </File>
    </Appenders>

    <Loggers>
        <!-- Root Logger -->
        <Root level="all">
            <AppenderRef ref="TxtFile"/>
        </Root>
    </Loggers>


</Configuration>